*{
	margin: 0;
	padding: 0;
	border:0;
	box-sizing: border-box;
}
.container{
	display : flex;
	flex-flow: row wrap;
	margin: 20px;
	padding: 4px;

}

body{
	background-color:  #A59A67;
}
footer{

	
}

.svg{
width: 400px;
}
p{
	width: 700px;
	height: 150px;
	padding: 10px;

}
.grid{
	display : inline-flex;
	flex-flow: row wrap;
	padding:5px;
	margin: 0 auto;
	text-align: center;


}
.grid2{
	display : inline-flex;
	flex-flow: row wrap;
	padding:5px;
	margin: 0 auto;
	text-align: center;
}

.primeiro{
	margin: 10px;
}
.segundo{
	margin: 10px;
}
.terceiro{
	margin: 10px;
}
.container{
	display: flex;
	flex-flow: row wrap;
}

.col{
display: flex;
flex-flow:  wrap;
}

